<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Gallery by {{ authorName }}</h1>
  <a
      *ngIf="authorId === currentUserId"
      [routerLink]="['/gallery/new']"
  mat-button
  >Add new picture</a>
</div>


<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
    *ngIf="(loading | async) else picturesArea"
    mode="indeterminate"
></mat-progress-spinner>

<ng-template #picturesArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.lt-lg="33%"
        fxFlex="25%"
        *ngFor="let picture of pictures | async"
    >
      <mat-card class="text-center">
        <img
            [src]="picture.image | image"
            [alt]="'Photo of ' + picture.title"
            mat-card-image
        />
        <mat-card-title>{{ picture.title }}</mat-card-title>
        <mat-card-actions>
          <button
              *ngIf="authorId === currentUserId"
              mat-raised-button color="warn"
              (click)="delete(picture.id)"
          >Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>

