<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
    *ngIf="(loading | async) else picturesArea"
    mode="indeterminate"
></mat-progress-spinner>

<ng-template #picturesArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.lt-lg="33%"
        fxFlex="25%"
        *ngFor="let picture of pictures | async"
    >
      <mat-card class="text-center">
        <img
            (click)="openModal()"
            [src]="picture.image | image"
            [alt]="'Photo of ' + picture.title"
            mat-card-image
        />
        <mat-card-title>{{ picture.title }}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-subtitle>
          Picture by:
          <b><a [routerLink]="['/gallery/', picture.user._id]">{{ picture.user.displayName }}</a></b>
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</ng-template>